#main-layer {
    font-family: 'Raleway', sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    color: white;
}

#secondary-image {
    width: 25%;
    height: 25%;
}
