#main-layer {
    font-family: Raleway;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    color: white;
}

#secondary-image {
    width: 25%;
    height: 25%;
}
