<nav id="header-navbar" class="navbar">
    <a href="#">
        <img class="navbar-brand" src="./../assets/image-assets/axiom-logo-main.png" alt="">
    </a>
    <table>
        <tr>
            <td colspan="5">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="SEARCH FOR GEAR">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <img src="./../assets/image-assets/fb-icon.png">
            </td>
            <td>
                <img style="padding-top: 50%;" src="./../assets/image-assets/twitter-icon.png">
            </td>
            <td>
                <p>My Account |</p>
            </td>
            <td>
                <p>Cart |</p>
            </td>
            <td>
                <p>Logout</p>
            </td>
        </tr>
    </table>
</nav>