<nav id="header-navbar" class="navbar">
    <a class="navbar-brand" href="#">
        <img src="./../assets/image-assets/axiom-logo-main.png" width="100" height="30" alt="">
    </a>
    <table>
        <tr>
            <td colspan="5"><input type="search" placeholder="SEARCH FOR GEAR" aria-label="Search"><img src="./../assets/image-assets/search-icon.png"></td>
        </tr>
        <tr>
            <td>
                <img src="./../assets/image-assets/fb-icon.png">
            </td>
            <td>
                <img style="padding-top: 50%;" src="./../assets/image-assets/twitter-icon.png">
            </td>
            <td>
                <p>My Account |</p>
            </td>
            <td>
                <p>Cart |</p>
            </td>
            <td>
                <p>Logout</p>
            </td>
        </tr>
    </table>
</nav>