#footer {
    background-color: black;
    color: #ffffff;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1.5%;
    width: 101%;
    height: 10vh;
}

#footer-image {
    position: absolute;
}

#footer-links {
    position: absolute;
    right: 0;
}

.footer-link {
    padding: 1%;
    color: white;
}