<!-- <div id="footer">
    <img id="footer-image" src="../../assets/image-assets/axiom-logo-small.png"><br>
    <div id="footer-links">
        <a href="#">First</a>|<a href="#">Second</a>|<a href="#">Third</a>|<a href="#">Forth</a>
    </div>
</div> -->

<div id="footer" class="row">
    <div class="col-md-4">
        <img id="footer-image" src="../../assets/image-assets/axiom-logo-small.png"><br>
    </div>
    <div id="footer-links" class="col-md-6">
        <a class="footer-link" href="#">About</a>|
        <a class="footer-link" href="#">Contact Us</a>|
        <a class="footer-link" href="#">Privacy Policy</a>|
        <a class="footer-link" href="#">Terms of Service</a>|
        <a class="footer-link" href="#">Site Map</a>
    </div>
</div>
