<div id="footer" class="row d-flex justify-content-center">
    <div class="col-md-8">
        <img id="footer-image" src="../../assets/image-assets/axiom-logo-small.png"><br>
    </div>
    <div id="footer-links" class="col-md-6">
        <a class="footer-link" href="#">About</a>|
        <a class="footer-link" href="#">Contact Us</a>|
        <a class="footer-link" href="#">Privacy Policy</a>|
        <a class="footer-link" href="#">Terms of Service</a>|
        <a class="footer-link" href="#">Site Map</a>
    </div>
</div>
