<div id="banner" style="position: relative;">
    <div id="center-div" class="row">
        <div class="col-md-8 under-mesh banner-square"></div>
        <div class="col-md-8 banner-square">
            <div class="row">
                <img src="{{imagePath}}">
                <p id="banner-title" class="col-md-3">{{title}}</p>
                <div *ngFor="let point of description">
                    <p id="banner-description">{{point}}</p>
                </div>
            </div>
        </div>
    </div>
</div>