<div id="banner" style="position: relative;">
    <div id="center-div" class="row">
        <div class="col-md-8 under-mesh banner-square"></div>
        <div class="col-md-8 banner-square">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{imagePath}}">
                </div>
                <div id="right-panel" class="col-md-4">
                    <p id="banner-title">{{title}}</p>
                    <p *ngFor="let point of description" id="banner-description">{{point}}<br></p>
                </div>
            </div>
        </div>
    </div>
</div>