<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="./../assets/image-assets/axiom-logo-main.png" width="80" height="30" alt="">
    </a>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav>

<!-- <app-header></app-header> -->
<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<app-main-layer></app-main-layer>
<app-reviews-section></app-reviews-section>
<app-footer></app-footer>