$slateBlue : rgb(3, 51, 78);

p {
    color: white;
}

td {
    display: table-cell;
    vertical-align: bottom;
}

td p {
    display: table-cell;
    vertical-align: bottom;
}

nav {
    padding-left: 15%;
    padding-right: 15%;
}
