$slateBlue : rgb(3, 51, 78);

app-reviews {
    font-size: 10px;
}

#reviews-panel {
    display: flex;
    justify-content: center;
}

#reviews-title {
    font-size: 50px;
    color: white;
    font-family: "Raleway";
    font-weight: 100;
    font-style: normal
}

#reviews-container {
    margin-left: 15%;
    margin-right: 15%;
}

#reviews-section {
    background-color: $slateBlue;
    font-family: 'Raleway', sans-serif;
}

#review-link {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    cursor: pointer;
}

.review-body {
    margin-left: 25%;
}