$slateBlue : rgb(3, 51, 78);

#reviews-panel {
    display: flex;
    justify-content: center;
}

#reviews-title {
    // font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: white;
}

#reviews-container {
    margin-left: 20%;
    margin-right: 20%;
}

#reviews-section {
    background-color: $slateBlue;
}

#review-link {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.review-body {
    margin-left: 25%;
}