<nav class="navbar navbar-expand-lg navbar-light bg-light row animate">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Camping &nbsp;<i class="fa fa-chevron-down"></i>
				</a>
				<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Tents</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Food Storage</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Canoes</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Boats</a>
				</div>
			</li><span class="tag-seperator">|</span>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Clothing &nbsp;<i class="fa fa-chevron-down"></i>
				</a>
				<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Outerwear</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Hiking Shoes / Boots</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Gloves</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Hats</a>
				</div>
			</li><span class="tag-seperator">|</span>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Fishing &nbsp;<i class="fa fa-chevron-down"></i>
				</a>
				<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Rods</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Reels</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Fishing Line</a>
				</div>
			</li><span class="tag-seperator">|</span>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hiking &nbsp;<i class="fa fa-chevron-down"></i>
				</a>
				<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Walking Sticks</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Hiking Shoes / Boots</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Bug Repellent</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Hats</a>
				</div>
			</li><span class="tag-seperator">|</span>
			<li class="nav-item dropdown">
				<a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Biking &nbsp;<i class="fa fa-chevron-down"></i>
				</a>
				<div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Bikes</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Helmets</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Reflectors</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Shirts</a>
				</div>
			</li>
		</ul>
	</div>
</nav>