#navbarSupportedContent {
    padding-left: 30%;
    padding-right: 25%;
}

.tag-seperator {
    padding-top: 1.5%;
}

.dropdown-item:hover {
    background-color: rgb(73, 152, 164);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(44, 84, 97);
    font-weight: 200;
    font-size: 18px;
}

.navbar {
    height: 6vh;
}

.fa-chevron-down {
    font-weight: thin;
    font-size: 15px;
}

li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateY(0);
  }

  .navbar ul {
    position: absolute;
    transition: all .5s ease;
  }

