$slateBlue : rgb(3, 51, 78);

.single-review {
    background-color: $slateBlue;
    color: white;
}

.review-date {
    padding-left: 5%;
    padding-right: 5%;
}

.review-star {
    transform: scaleX(0.5) scaleY(0.5);
    // width: 5%;
    // height: 2.5%;
    // padding: 1%;
    // margin-top: 1%;
    // padding-top: 1%;
}