$slateBlue : rgb(3, 51, 78);

.single-review {
    background-color: $slateBlue;
    color: white;
}

.review-title {
    font-weight: bold;
}

.review-body-text {
    font-size: 12px;
}

.review-date {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
    margin-right: 3%;
}

.review-star {
    transform: scaleX(0.8) scaleY(0.8);
}

.review-description {
    padding-left: 20px;
}

.reviewer-name {
    font-size: 12px;
    padding-top: 1%;
    font-weight: 900;
}